.test-hamburger{
    position: fixed;
    padding: 10px 2px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 5rem;
    height: 5rem;
    z-index: 99;
	-moz-border-radius: 5rem;
	-webkit-border-radius: 5rem;
	border-radius: 5rem;

    border: 1rem;
    margin: .6rem;
    font-size:20px;
    color: white;
    text-align: center;
    background: black; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, black,#708090); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, black,#708090); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, black,#708090); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, black,#708090); /* Standard syntax (must be last) */
}


.rsb-menu {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 99 !important;
    top: 0;
    left: 0;
    background: black; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, black,#708090); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, black,#708090); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, black,#708090); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, black,#708090); /* Standard syntax (must be last) */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu-close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: lightgray
}

.menu-close:hover {
    color: #f1f1f1;
    cursor:pointer;
}


.menu-option:hover {
    color: #f1f1f1;
    cursor:pointer;
}

.menu-option {
    padding: 8px 8px 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}