.notify-alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.notify-alert.success {background-color: #4CAF50;}
.notify-alert.info {background-color: #2196F3;}
.notify-alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.closebtn:hover {
    color: black;
}

.notify-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }

  .notify-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }