.rsb-game-panel{
	margin-top: 10px;
}

.rsb-game-name {
	display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 16px;
}

.col0 {
    background-color: #f2f2f2
}