.panel-heading-rsb{
    padding: 0,0;
    border: 3px solid orange;
    background-color: #A8A8A8;
    border-radius: 4em 2em;        
}

.scroll-info{
    height:20em;
    width:auto;
    overflow-y:auto;
}

.friends-generate{
    border-width: 2px;
    border-style: solid;
    border-color: lightseagreen;
}

.profile-pic{
    width: 12em;
    height: 12em;
}

.profile-pic-xs{
    width: relative;
    height:6em;
}

button{
    border: 1px solid black;
}

.accept{
    background-color: #66ff33;
}
  
.decline{
    background-color: #cc0000;
}

.populate-requests{
    border: 2px black solid;
    width: auto;
}

.col-sm-2{
    padding-top: 10%;
}