.scroll-info{
    height:20em;
    width:auto;
    overflow-y:auto;
}

.friends-generate{
    border-width: 2px;
    border-style: solid;
    border-color: lightseagreen;
}

.profile-pic{
    width: 12em;
    height: 12em;
}

.profile-pic-sm{
    width: 3em;
    height:3em;
}